$blue-400: #3B82F6; // Ejemplo de color azul claro
$blue-500: #2563EB; // Ejemplo de color azul principal
$blue-600: #1D4ED8; // Ejemplo de color azul oscuro
$blue-800: #1E40AF; // Ejemplo de color azul más oscuro
$blue-100: #DBEAFE; // Ejemplo de color azul muy claro
$blue-50: #40cde6;


$user-avatar-size: 2rem;

// Bootstrap variables:
$font-family-sans-serif: Poppins, Arial, Helvetica, Geneva;

$graph-caption-items-height: 55px;